.step{
    float: left;
    text-align: center;
    width: 36px;
    margin: 2px 5px 0px 0px;
    line-height: 36px;
    color: #727273;
    background: #CCC;
    border: 2px solid #CCC;
    -webkit-border-radius: 30px;
    -moz-border-radius: 10px;
    border-radius: 20px;
    font-size: 22px;
    font-weight: bold;
}

.stepLine {
    background: none repeat scroll 0 0 #CCCCCC;
    border: 2px solid #CCCCCC;
    float: left;
    height: 10px;
    margin-left: -6px;
    margin-top: 16px;
    width: 23%;
}

.wizard-steps{
    width: 100%;
    height: 46px;
    padding-left: 9%;
    margin-bottom: 42px;
}

.ok{
    background: #81C000;
    color: #fff;
}

.wizard-steps > .BoxPasos {
    position: relative;
}

.Pasos:before{
  content: "";
  bottom: -65px;
  font-weight: bold;
  left: 0;
  position: absolute;
}

.activo:before {
    color: #6B6B6C !important;
}
