#menu li {list-style-type:none}
#menu {
text-align:center;
}
#dmenu ul, #dmenu li, #dmenu a {
padding:3px;
}
#dmenu {
color:#FFF;
list-style-type:none;
margin:0 auto;
padding:0;
text-align:center;
z-index:20;
}
#dmenu li {
border:medium none;
display:inline;
float:left;
list-style-type:none;
position:relative;
}
#dmenu ul {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#DDD none repeat scroll 0 0;
color:#16458F;
display:none;
left:0;
list-style-type:none;
padding:1px 0 0 1px;
position:absolute;
text-align:left;
top:28px;
z-index:99;
}
#dmenu ul li {
border-bottom:0px solid #999999;
border-right:0px solid #999999;
border-top:1px solid #FFF;
margin-left:0;
padding:0;
}
#dmenu li a {
display:block;
text-align:center;
text-decoration:none;
}
#dmenu ul li a {
font-size:12px;
border-bottom:0 solid #999999;
}
#dmenu ul a {
color:#000000;
display:block;
margin:0;
padding:4px 10px;
text-align:left;
text-decoration:none;
width:185px;
}
#dmenu a:hover, #dmenu li:hover {
color:#000000;
display:block;
}
#dmenu ul li:hover, #dmenu ul li a:hover {
color:#000000;
display:block;
}
#dmenu ul ul {
display:none;
position:absolute;
}
#dmenu li:hover ul ul, #dmenu li:hover ul ul ul, #dmenu li:hover ul ul ul ul, #dmenu li:hover ul ul ul ul ul {
display:none;
}
#dmenu li:hover ul, #dmenu ul li:hover ul, #dmenu ul ul li:hover ul, #dmenu ul ul ul li:hover ul, #dmenu ul ul ul ul li:hover ul {
display:block;
}
li > ul {
left:0;
position:absolute;
top:20px;
}


