@-webkit-keyframes glowing {
  /* line 11, ../scss/partials/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2); }

  /* line 12, ../scss/partials/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2); }

  /* line 13, ../scss/partials/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2); } }

@-moz-keyframes glowing {
  /* line 17, ../scss/partials/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2); }

  /* line 18, ../scss/partials/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2); }

  /* line 19, ../scss/partials/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2); } }

@-o-keyframes glowing {
  /* line 23, ../scss/partials/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2); }

  /* line 24, ../scss/partials/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2); }

  /* line 25, ../scss/partials/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2); } }

@keyframes glowing {
  /* line 29, ../scss/partials/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2); }

  /* line 30, ../scss/partials/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2); }

  /* line 31, ../scss/partials/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2); } }

/* line 24, ../scss/partials/_buttons.scss */
.Btn {
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  background-color: #eeeeee;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #e1e1e1));
  background: -webkit-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -moz-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -o-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: linear-gradient(top, #fbfbfb, #e1e1e1);
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  border: 1px solid #d4d4d4;
  height: 32px;
  line-height: 32px;
  padding: 0px 25.6px;
  font-weight: 300;
  font-size: 13px;
  font-family: "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
  color: #666666;
  text-shadow: 0 1px 1px white;
  margin: 0;
  text-decoration: none;
  text-align: center; width: auto !important;}
  /* line 42, ../scss/partials/_buttons.scss */
  .Btn:hover {
    background-color: #eeeeee;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dcdcdc));
    background: -webkit-linear-gradient(top, #ffffff, #dcdcdc);
    background: -moz-linear-gradient(top, #ffffff, #dcdcdc);
    background: -o-linear-gradient(top, #ffffff, #dcdcdc);
    background: linear-gradient(top, #ffffff, #dcdcdc); }
  /* line 46, ../scss/partials/_buttons.scss */
  .Btn:active {
    -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
    -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
    background: #eeeeee;
    color: #bbbbbb; }
  /* line 52, ../scss/partials/_buttons.scss */
  .Btn:focus {
    outline: none; }

/* line 58, ../scss/partials/_buttons.scss */
input.Btn, button.Btn {
  height: 34px;
  cursor: pointer;
  -webkit-appearance: none; }

/* line 65, ../scss/partials/_buttons.scss */
.Btn-block {
  display: block; }

/* line 74, ../scss/partials/_buttons.scss */
.Btn.disabled,
.Btn.disabled:hover,
.Btn.disabled:active,
input.Btn:disabled,
button.Btn:disabled {
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  background: #EEE;
  border: 1px solid #DDD;
  text-shadow: 0 1px 1px white;
  color: #CCC;
  cursor: default;
  -webkit-appearance: none; }

/* line 86, ../scss/partials/_buttons.scss */
.Btn-wrap {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e3e3e3), color-stop(100%, #f2f2f2));
  background: -webkit-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: -moz-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: -o-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: linear-gradient(top, #e3e3e3, #f2f2f2);
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
  border-radius: 200px;
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  padding: 10px;
  display: inline-block; }

/* line 96, ../scss/partials/_buttons.scss */
.Btn-flat {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #eeeeee;
  border: none;
  text-shadow: none; }
  /* line 105, ../scss/partials/_buttons.scss */
  .Btn-flat:hover {
    background: #fbfbfb; }
  /* line 108, ../scss/partials/_buttons.scss */
  .Btn-flat:active {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    background: #eeeeee;
    color: #bbbbbb; }
  /* line 113, ../scss/partials/_buttons.scss */
  .Btn-flat.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 123, ../scss/partials/_buttons.scss */
.Btn-border {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: #666666;
  border: 2px solid #666666;
  background: none;
  text-shadow: none; }
  /* line 132, ../scss/partials/_buttons.scss */
  .Btn-border:hover {
    background: none;
    color: gray;
    border: 2px solid gray; }
  /* line 137, ../scss/partials/_buttons.scss */
  .Btn-border:active {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    background: none;
    color: #4d4d4d;
    border: 2px solid #4d4d4d; }
  /* line 143, ../scss/partials/_buttons.scss */
  .Btn-border.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 192, ../scss/partials/_buttons.scss */
.Btn-rounded {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }

/* line 192, ../scss/partials/_buttons.scss */
.Btn-pill {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px; }

/* line 226, ../scss/partials/_buttons.scss */
.Btn-Base {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d4d4d), color-stop(100%, #333333));
  background: -webkit-linear-gradient(top, #4d4d4d, #333333);
  background: -moz-linear-gradient(top, #4d4d4d, #333333);
  background: -o-linear-gradient(top, #4d4d4d, #333333);
  background: linear-gradient(top, #4d4d4d, #333333);
  background-color: #404040;
  border-color: #272727;
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.35); }
  /* line 233, ../scss/partials/_buttons.scss */
  .Btn-Base:hover {
    background-color: #404040;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5a5a5a), color-stop(100%, #333333));
    background: -webkit-linear-gradient(top, #5a5a5a, #333333);
    background: -moz-linear-gradient(top, #5a5a5a, #333333);
    background: -o-linear-gradient(top, #5a5a5a, #333333);
    background: linear-gradient(top, #5a5a5a, #333333); }
  /* line 237, ../scss/partials/_buttons.scss */
  .Btn-Base:active {
    background: #404040;
    color: #0d0d0d; }

/* line 321, ../scss/partials/_buttons.scss */
.Btn-flat-Base {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #404040;
  color: white;
  text-shadow: none;
  border: none; }
  /* line 330, ../scss/partials/_buttons.scss */
  .Btn-flat-Base:hover {
    background: #4d4d4d; }
  /* line 333, ../scss/partials/_buttons.scss */
  .Btn-flat-Base:active {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    background: #404040;
    color: #1a1a1a; }
  /* line 338, ../scss/partials/_buttons.scss */
  .Btn-flat-Base.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 226, ../scss/partials/_buttons.scss */
.Btn-Aceptar {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #91d200), color-stop(100%, #6d9f00));
  background: -webkit-linear-gradient(top, #91d200, #6d9f00);
  background: -moz-linear-gradient(top, #91d200, #6d9f00);
  background: -o-linear-gradient(top, #91d200, #6d9f00);
  background: linear-gradient(top, #91d200, #6d9f00);
  background-color: #7fb800;
  border-color: #5c8500;
  color: white;
  text-shadow: 0 -1px 1px rgba(21, 31, 0, 0.35); }
  /* line 233, ../scss/partials/_buttons.scss */
  .Btn-Aceptar:hover {
    background-color: #7fb800;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a2eb00), color-stop(100%, #6d9f00));
    background: -webkit-linear-gradient(top, #a2eb00, #6d9f00);
    background: -moz-linear-gradient(top, #a2eb00, #6d9f00);
    background: -o-linear-gradient(top, #a2eb00, #6d9f00);
    background: linear-gradient(top, #a2eb00, #6d9f00); }
  /* line 237, ../scss/partials/_buttons.scss */
  .Btn-Aceptar:active {
    background: #78a612;
    color: #395200; }

/* line 321, ../scss/partials/_buttons.scss */
.Btn-flat-Aceptar {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #7fb800 ;
  color: #FFFFFF ;
  text-shadow: none;
  border: none; }
  /* line 330, ../scss/partials/_buttons.scss */
  .Btn-flat-Aceptar:hover {
    background: #91d200; }
  /* line 333, ../scss/partials/_buttons.scss */
  .Btn-flat-Aceptar:active {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    background: #78a612;
    color: #4a6c00; }
  /* line 338, ../scss/partials/_buttons.scss */
  .Btn-flat-Aceptar.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 226, ../scss/partials/_buttons.scss */
.Btn-Precaucion {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fa9915), color-stop(100%, #d87e04));
  background: -webkit-linear-gradient(top, #fa9915, #d87e04);
  background: -moz-linear-gradient(top, #fa9915, #d87e04);
  background: -o-linear-gradient(top, #fa9915, #d87e04);
  background: linear-gradient(top, #fa9915, #d87e04);
  background-color: #f18d05;
  border-color: #bf7004;
  color: white;
  text-shadow: 0 -1px 1px rgba(91, 53, 2, 0.35); }
  /* line 233, ../scss/partials/_buttons.scss */
  .Btn-Precaucion:hover {
    background-color: #f18d05;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fba42e), color-stop(100%, #d87e04));
    background: -webkit-linear-gradient(top, #fba42e, #d87e04);
    background: -moz-linear-gradient(top, #fba42e, #d87e04);
    background: -o-linear-gradient(top, #fba42e, #d87e04);
    background: linear-gradient(top, #fba42e, #d87e04); }
  /* line 237, ../scss/partials/_buttons.scss */
  .Btn-Precaucion:active {
    background: #d8891e;
    color: #8d5303; }

/* line 321, ../scss/partials/_buttons.scss */
.Btn-flat-Precaucion {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #f18d05;
  color: white;
  text-shadow: none;
  border: none; }
  /* line 330, ../scss/partials/_buttons.scss */
  .Btn-flat-Precaucion:hover {
    background: #fa9915; }
  /* line 333, ../scss/partials/_buttons.scss */
  .Btn-flat-Precaucion:active {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    background: #d8891e;
    color: #a66103; }
  /* line 338, ../scss/partials/_buttons.scss */
  .Btn-flat-Precaucion.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 226, ../scss/partials/_buttons.scss */
.Btn-Cancelar {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e8543f), color-stop(100%, #d9331a));
  background: -webkit-linear-gradient(top, #e8543f, #d9331a);
  background: -moz-linear-gradient(top, #e8543f, #d9331a);
  background: -o-linear-gradient(top, #e8543f, #d9331a);
  background: linear-gradient(top, #e8543f, #d9331a);
  background-color: #e54028;
  border-color: #c22d18;
  color: white;
  text-shadow: 0 -1px 1px rgba(103, 24, 13, 0.35); }
  /* line 233, ../scss/partials/_buttons.scss */
  .Btn-Cancelar:hover {
    background-color: #e54028;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eb6855), color-stop(100%, #d9331a));
    background: -webkit-linear-gradient(top, #eb6855, #d9331a);
    background: -moz-linear-gradient(top, #eb6855, #d9331a);
    background: -o-linear-gradient(top, #eb6855, #d9331a);
    background: linear-gradient(top, #eb6855, #d9331a); }
  /* line 237, ../scss/partials/_buttons.scss */
  .Btn-Cancelar:active {
    background: #cd5240;
    color: #952312; }

/* line 321, ../scss/partials/_buttons.scss */
.Btn-flat-Cancelar {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #e54028;
  color: white;
  text-shadow: none;
  border: none; }
  /* line 330, ../scss/partials/_buttons.scss */
  .Btn-flat-Cancelar:hover {
    background: #e8543f; }
  /* line 333, ../scss/partials/_buttons.scss */
  .Btn-flat-Cancelar:active {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    background: #cd5240;
    color: #ac2815; }
  /* line 338, ../scss/partials/_buttons.scss */
  .Btn-flat-Cancelar.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 226, ../scss/partials/_buttons.scss */
.Btn-Simple {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #629af6), color-stop(100%, #327cf4));
  background: -webkit-linear-gradient(top, #629af6, #327cf4);
  background: -moz-linear-gradient(top, #629af6, #327cf4);
  background: -o-linear-gradient(top, #629af6, #327cf4);
  background: linear-gradient(top, #629af6, #327cf4);
  background-color: #4a8bf5;
  border-color: #1a6cf2;
  color: white;
  text-shadow: 0 -1px 1px rgba(9, 65, 157, 0.35); }
  /* line 233, ../scss/partials/_buttons.scss */
  .Btn-Simple:hover {
    background-color: #4a8bf5;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7aaaf8), color-stop(100%, #327cf4));
    background: -webkit-linear-gradient(top, #7aaaf8, #327cf4);
    background: -moz-linear-gradient(top, #7aaaf8, #327cf4);
    background: -o-linear-gradient(top, #7aaaf8, #327cf4);
    background: linear-gradient(top, #7aaaf8, #327cf4); }
  /* line 237, ../scss/partials/_buttons.scss */
  .Btn-Simple:active {
    background: #5d90e2;
    color: #0b55ce; }

/* line 321, ../scss/partials/_buttons.scss */
.Btn-flat-Simple {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #4a8bf5;
  color: white;
  text-shadow: none;
  border: none; }
  /* line 330, ../scss/partials/_buttons.scss */
  .Btn-flat-Simple:hover {
    background: #629af6; }
  /* line 333, ../scss/partials/_buttons.scss */
  .Btn-flat-Simple:active {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    background: #5d90e2;
    color: #0d5fe6; }
  /* line 338, ../scss/partials/_buttons.scss */
  .Btn-flat-Simple.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 358, ../scss/partials/_buttons.scss */
.Btn-jumbo {
  font-size: 23px;
  height: 51.2px;
  line-height: 51.2px;
  padding: 0px 40.96px; }

/* line 358, ../scss/partials/_buttons.scss */
.Btn-large {
  font-size: 18px;
  height: 38.4px;
  line-height: 38.4px;
  padding: 0px 30.72px; }

/* line 389, ../scss/partials/_buttons.scss */
input.Btn-large, button.Btn-large {
  height: 40.4px; }

/* line 358, ../scss/partials/_buttons.scss */
.Btn-small {
  font-size: 14px;
  height: 25.6px;
  line-height: 25.6px;
  padding: 0px 20.48px; }

/* line 389, ../scss/partials/_buttons.scss */
input.Btn-small, button.Btn-small {
  height: 27.6px !important; }

/* line 358, ../scss/partials/_buttons.scss */
.Btn-tiny {
  font-size: 11px;
  height: 22.4px;
  line-height: 22.4px;
  padding: 0px 17.92px; }

.Btn-tiny.Btn-tiny-min{padding: 0 10px;}

/* line 389, ../scss/partials/_buttons.scss */
input.Btn-tiny, button.Btn-tiny {
  height: 24.4px; }

.Btn-Acciones {
  font-size:11px;
  height:24px;
  line-height:24px;
  padding:0 8px 0;
}

/* line 410, ../scss/partials/_buttons.scss */
.Btn.glow {
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -ms-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -khtml-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: glowing;
  -khtml-animation-name: glowing;
  -moz-animation-name: glowing;
  -ms-animation-name: glowing;
  -o-animation-name: glowing;
  animation-name: glowing; }
/* line 413, ../scss/partials/_buttons.scss */
.Btn.glow:active {
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -ms-animation-name: none;
  -o-animation-name: none;
  animation-name: none;
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white; }

/* line 425, ../scss/partials/_buttons.scss */
.Btn-dropdown {
  position: relative;
  overflow: visible;
  display: inline-block; }
  /* line 432, ../scss/partials/_buttons.scss */
  .Btn-dropdown .button .icon-caret-down {
    font-size: 90%;
    margin: 0px 0px 0px 3px;
    vertical-align: middle; }
  /* line 439, ../scss/partials/_buttons.scss */
  .Btn-dropdown ul.Btn-dropdown-menu-below {
    top: 115%; }
  /* line 442, ../scss/partials/_buttons.scss */
  .Btn-dropdown ul.Btn-dropdown-menu-above {
    bottom: 115%;
    top: auto; }
  /* line 448, ../scss/partials/_buttons.scss */
  .Btn-dropdown ul {
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    display: none;
    position: absolute;
    background: #fcfcfc;
    top: -2px;
    left: -2px;
    z-index: 1000;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    min-width: 102%; }
    /* line 462, ../scss/partials/_buttons.scss */
    .Btn-dropdown ul li {
      padding: 0px;
      margin: 0px;
      display: block; }
      /* line 467, ../scss/partials/_buttons.scss */
      .Btn-dropdown ul li:first-child a {
        -moz-border-radius-topleft: 3px;
        -webkit-border-top-left-radius: 3px;
        border-top-left-radius: 3px;
        -moz-border-radius-topright: 3px;
        -webkit-border-top-right-radius: 3px;
        border-top-right-radius: 3px; }
      /* line 470, ../scss/partials/_buttons.scss */
      .Btn-dropdown ul li:last-child a {
        -moz-border-radius-bottomleft: 3px;
        -webkit-border-bottom-left-radius: 3px;
        border-bottom-left-radius: 3px;
        -moz-border-radius-bottomright: 3px;
        -webkit-border-bottom-right-radius: 3px;
        border-bottom-right-radius: 3px; }
    /* line 476, ../scss/partials/_buttons.scss */
    .Btn-dropdown ul .Btn-dropdown-divider {
      -webkit-box-shadow: inset 0px 1px 0px white;
      -moz-box-shadow: inset 0px 1px 0px white;
      box-shadow: inset 0px 1px 0px white;
      border-top: 1px solid #e4e4e4; }
    /* line 481, ../scss/partials/_buttons.scss */
    .Btn-dropdown ul a {
      display: block;
      padding: 0px 20px;
      text-decoration: none;
      font-size: 11px;
      color: #333333;
      line-height: 30px;
      white-space: nowrap; }
      /* line 490, ../scss/partials/_buttons.scss */
      .Btn-dropdown ul a:hover {
        background-color: #3c6ab9;
        color: white; }
