@font-face {
	font-family: 'icomoon';
	src:url('icomoon.eot?gs409b');
	src:url('icomoon.eot?#iefixgs409b') format('embedded-opentype'),
		url('icomoon.woff?gs409b') format('woff'),
		url('icomoon.ttf?gs409b') format('truetype'),
		url('icomoon.svg?gs409b#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icomoon {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icomoon-export:before {
	content: "\e600";
}
.icomoon-globe:before {
	content: "\e601";
}
.icomoon-email:before {
	content: "\e602";
}
.icomoon-select:before {
	content: "\e603";
}
.icomoon-book-alt:before {
	content: "\e604";
}
.icomoon-fork:before {
	content: "\e605";
}
.icomoon-window:before {
	content: "\e606";
}
.icomoon-pencil:before {
	content: "\e607";
}
.icomoon-books:before {
	content: "\e608";
}
.icomoon-file:before {
	content: "\e609";
}
.icomoon-profile:before {
	content: "\e60a";
}
.icomoon-coin:before {
	content: "\e60b";
}
.icomoon-address-book:before {
	content: "\e60c";
}
.icomoon-users:before {
	content: "\e60d";
}
.icomoon-user:before {
	content: "\e60e";
}
.icomoon-user2:before {
	content: "\e60f";
}
.icomoon-cog:before {
	content: "\e610";
}
.icomoon-pie:before {
	content: "\e611";
}
.icomoon-stats:before {
	content: "\e612";
}
.icomoon-bars:before {
	content: "\e613";
}
.icomoon-bars2:before {
	content: "\e614";
}
.icomoon-target:before {
	content: "\e615";
}
.icomoon-signup:before {
	content: "\e616";
}
.icomoon-warning:before {
	content: "\e617";
}
.icomoon-mail:before {
	content: "\e618";
}
.icomoon-mail2:before {
	content: "\e619";
}
.icomoon-window2:before {
	content: "\e61a";
}
.icomoon-card:before {
	content: "\e61b";
}
.icomoon-tag:before {
	content: "\e61c";
}
.icomoon-cabinet:before {
	content: "\e61d";
}
.icomoon-calendar:before {
	content: "\e61e";
}
.icomoon-tie:before {
	content: "\e61f";
}
.icomoon-medal:before {
	content: "\e620";
}
.icomoon-tools:before {
	content: "\e621";
}
.icomoon-resize:before {
	content: "\e622";
}
.icomoon-profile2:before {
	content: "\e623";
}
.icomoon-profile3:before {
	content: "\e624";
}
.icomoon-clipboard:before {
	content: "\e625";
}
.icomoon-directions:before {
	content: "\e626";
}
.icomoon-palette:before {
	content: "\e627";
}
.icomoon-brush:before {
	content: "\e628";
}
.icomoon-pie2:before {
	content: "\e629";
}
.icomoon-bars3:before {
	content: "\e62a";
}
.icomoon-graph:before {
	content: "\e62b";
}
.icomoon-lock:before {
	content: "\e62c";
}
.icomoon-lock-open:before {
	content: "\e62d";
}
